<div class="card">
    <div class="card__image">
        <img src="../../../assets/images/user.jpeg" alt="" />
    </div>
    <div class="card__content">
        <section>
            <h2>Rick Shances</h2>
            <div class="card__content__info">
                <div class="card__content__info__status"></div>
                <span>Alive</span>
            </div>
        </section>
        <section class="card__content__description">
            <span>Gender: <strong>Male</strong></span>
            <span>Species: <strong>Human</strong></span>
            <span>Planet: <strong>Earth</strong></span>
        </section>
    </div>
</div>
