<section class="navbar">
    <img class="navbar__logo" src="../../../assets/images/logo.png" alt="" />
    <nav class="navbar__navigation">
        <section class="navbar__navigation__links">
            <div class="navbar__navigation__link">
                <a href="">Home</a>
            </div>
            <div class="navbar__navigation__link">
                <a href="">Characters</a>
            </div>
            <div class="navbar__navigation__link">
                <a href="">Locations</a>
            </div>
            <div class="navbar__navigation__link">
                <a href="">Epsodes</a>
            </div>
        </section>
    </nav>
</section>
